.firstSection{
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07332f;
    position: relative;
}

.insideFirstSection{
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideFirstSectionCard{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0.25rem;
}

.a1{
    border-width: 2px;
    font-weight: 700;
}

.buttonIcon{
    font-size: 20px;
    margin-left: 0.5rem;
}

.insideFirstSectionCard h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0.5rem;
}


.insideFirstSectionCard h1 {
    color: #F7A582;
    font-weight: 600;
    font-size: 52px;
    text-transform: capitalize;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}


.insideFirstSectionCard p {
    color: #ffffffa6;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.ia{
    padding-right: 2rem;
    z-index: 1;
}

.ia1{
    padding-left: 2rem;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

 .img{
    position: absolute;
    border-radius: 8rem;
}

.img1{
    left: 0;
    translate: 0 3rem;
    height: 380px;
    
}

.img2{
    right: 0;
    translate: 3rem -3rem;
} 



.half{
    position: absolute;
    bottom: 0;
    right: 0;
}

.half-shape{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Second Section  */

.second-section{
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7f4;
}

.inside-second-section{
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-second-card{
    height: 15rem;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #07332f;
    margin: 0.01rem;
    padding: 1rem 2rem;
}

.isc1{
    background-color: #F7A582;
    padding: 1rem 1rem !important;
    position: relative;
}

.isc1 h2{
    color: #fff;
    font-size: 28px !important;
    font-weight: 500 !important;
    translate: 0 -3rem !important;
    margin-bottom: 0 !important;
}


.isc1 h2 span{
    font-weight: bold;
}

.second{
    width: 100%;
    position: absolute;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    height: 4rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    left: 0;
}

.ba{
    margin-left:0.5rem;
}

.second-icon{
    color: #F7A582;
    font-size: 28px;
    margin-bottom: 1.5rem;
}

.inside-second-card h2{
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1rem;
}



.inside-second-card p{
    color: #ffffffa6;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35rem;
    margin-bottom: 2rem;
}

/* Second Section End  */


/* Third Section  */

    .third-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff7f4;
    }

    .inside-third-section{
        width: 80%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inside-third-card{

        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0.5rem;
        position: relative;
    }


    .inside-third-card h2 {
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }


.inside-third-card h1 {
    color: #07332f;
    font-weight: 600;
    font-size: 52px;
    text-transform: capitalize;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}


.inside-third-card p {
    color: #00000080;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.white-dots2 {
    height: 34rem;
    translate: -6rem;
}


.ii{
    padding-right: 2rem !important;
}

.img11{
    translate: -4rem 3rem;
}

.img22{
    translate: 0rem -3rem;
}

.bullet{
    color: #F7A582;
    margin-right: 0.5rem;
}

.bullet-p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000 !important;
    font-weight: 500 !important;
}

/* Third Section End  */


/* Fourth Section  */

    .fourth-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff7f4;
        position: relative;
    }

    .inside-fourth-section{
        width: 80%;
        max-width:1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .inside-fourth-card{
        height: 18rem;
        width: 22rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem;
        border: 1px solid #000;
        padding: 2rem;
        position: relative;
        transition: all 0.6s ease;
    }

    .inside-fourth-card:hover{
        background-color: #F7A582;
        transition: all 0.6s ease;
    }

    .inside-fourth-head p {
    color: #00000080;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
}

    textarea{
        color: #fff;
    }

    .inside-fourth-head{
        height: auto !important;
        width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .inside-fourth-head h2 {
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }


.inside-fourth-head h1 {
    color: #07332f;
    font-weight: 600;
    font-size: 52px;
    text-transform: capitalize;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.h3{
    position: absolute;
    left: 0;
}

.f-card-icon{
    color: #07332f;
    font-size: 42px;
}

.inside-fourth-card h2{
    color: #07332f;
    font-weight: 600;
    font-size: 22px;
    margin: 1rem  0;
}


.inside-fourth-card p{
    color: #00000080;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35rem;
}

.new-read{
    position: absolute;
    bottom:0;
    width: 100%;
    left: 0;
    border: none;
    outline: none;
    background-color: #F7A582;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Fourth Section End  */

/* Fifth Section  */

.fifthSection{
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07332f;
}

.insideFifthSection{
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appIcon{
    color: #F7A582;
    font-size: 62px;
}

.logo {
    height: 5rem;
    filter: drop-shadow(0px -2px 0px #fff);
}

.logo1{
    margin-bottom: 1rem;
}

.app-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.app-card h2{
    color: #fff;
    font-weight: 600;
    font-size: 52px;
    text-transform: capitalize;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.gallery-card img {
    width: 100%;
}

.gallery-card{
    overflow: hidden;
}

.app-card p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.abc{
    width: 20%;
}

.abc1{
    width: 10%;
}

/* Fifth Section End  */


/* Sixth Section  */

    .sixth-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #feefe9;
    }

    .inside-sixth-section{
        width: 80%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inside-sixth-card{
        height: 100%;
        width: 50%;
        display: flex; flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0.25rem;
    }

    .inside-sixth-card h1{
        color: #07332f;
        font-weight: 600;
        font-size: 52px;
        text-transform: capitalize;
        line-height: 3.5rem;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        position: relative;
    }

    .inside-sixth-card h2{
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }


    .inside-sixth-card p{
        color: #00000080;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }

    .i-s-s{
        flex-direction: row;
    }

    .noneNav{
        text-decoration: none;
    }

    .sixth-sub-card {
        height: 10rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .dc-icon {
    color: #07332f;
    font-size: 32px;
    margin-bottom: 0.75rem;
}   

    .sixth-sub-card p{
        color: #07332f;
        font-weight: 600;
        font-size: 600;
        text-align: center;
    }

/* Sixth Section End  */

/* Seventh Section  */

    .seventh-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff7f4;
    }

    .inside-seventh-section{
        width: 80%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inside-seventh-card{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem;
        /* overflow: hidden; */
        position: relative;
    }

    .inside-seventh-card img{
        width: 100%;
    }

    .inside-seventh-card h2{
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }


    .inside-seventh-card h1{
        color: #07332f;
        font-weight: 600;
        font-size: 52px;
        text-transform: capitalize;
        line-height: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 0.5rem;
    }


    .iscisc{
        padding: 2rem;
    }

    .faq{
        margin-bottom: 1rem;
    }

    .faq h3 {
        color: #073342;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }

    .faq h3 span{
        color: #073342;
        font-size: 28px !important;
        margin-right: 0.5rem;        
    }

    .faq p{
        color: #00000080;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 1.2rem;
        margin-top: 0.5rem;
    }

    .faq-card{
        height: 8rem;
        width: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        translate: 0 3rem;
        z-index: 99999999;
    }

    .inside-faq-card{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #07332f;
    }

    .inside-faq-card h4 {
        color: #fff;
        font-size: 28px;
        margin-bottom: 0.25rem;
    }

    .inside-faq-card p{
        color: #fff;
        font-size: 16px;
    }

    .i-f-c-1{
        background-color: #F7A582;
    }

/* Seventh Section End  */

/* Eight Section  */

    .eight-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #07332f;
    }

    .inside-eight-section{
        height: 50%;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #07332f;
    }

    .i-e-s-1{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
    }

    .i-e-s-1 h1{
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .i-e-s-1 h2{
        color: #fff;
        font-weight: 600;
        font-size: 52px;
        text-transform: capitalize;
        line-height: 3.5rem;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
    }

    .i-e-s{
        background-color: #fff7f4;
        flex: 1;
        flex-wrap: wrap;
    }

/* Eight Section End  */


/* Ninth Section  */

    .ninth-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff7f4;
    }

    .ninth-section h1{
        color: #F7A582;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 0.5rem;
        align-self: flex-start;
        margin-left: 4rem;
    }

    .ninth-section h2{
        color: #07332f;
        font-weight: 600;   
        font-size: 52px;
        text-transform: capitalize;
        line-height: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 0.5rem;
        align-self: flex-start;
        margin-left: 4rem;
    }

    .inside-ninth-section{
        width: 80%;
        max-width:1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blog-card{
        height: 20rem;
        /* width: 32%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .blog-card-img{
        height: 50%;
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }

    .blog-card-content{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1rem;
    }

    .blog-card-img img{
        width: 100%;
    }

    .blog-card-content h1{
        color: #07332f;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 18px;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .blog-card-content p{
        color: #00000080;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .a11{
        border: none;
        font-size: 18px;
        font-weight: 500;
        padding-left: 0;
    }

/* Ninth Section End  */

.frame {
    height: 20rem;
    width: 20rem;
    margin: 1rem;
}

/* Tenth Section  */

    .tenth-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .tenth-section::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background-image: url('../images/all images/cb.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        filter: brightness(0.6);
    }

    .inside-tenth-section{
        width: 80%;
        max-width:1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }

    .tenth-section p {
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 1rem;

    }

    .tenth-section h2 {
        color: #fff;
        font-weight: 600;
        font-size: 46px;
        margin-bottom: 2.5rem;
    }

    .inside-tenth-card{
        padding: 2rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F7A582;
    }

    .i-t-c-1{
        width: 35%;
    }
    .i-t-c-2{
        width: 65%;
        background-color: #07332f;
    }

    .i-t-c-1 h3{
        text-align: center;
        color: #fff;
        font-size: 32px;
        margin-top: 2rem;
    }

    form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .form-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-div input{
        height: 3.5rem;
        width: 100%;
        margin: 0.8rem 1rem;
        border: none;
        outline: none;
        background-color: transparent;
        border: 1px solid #ffffff63;
        border-radius: 0.4rem;
        color: #fff;
        padding: 0 1rem;
    }

    .fd{
        margin-bottom: 1rem;
    }

    input::placeholder{
        color: #fff;
    }

    input::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert();
    }

    input::-moz-calendar-picker-indicator {
        filter: invert();
        cursor: pointer;
}

    .form-div textarea{
        height: 8rem;
        outline: none;
        border: none;
        width: 100%;
        margin: 0 1rem;
        background-color: transparent;
        border: 1px solid #ffffff63;
        border-radius: 0.4rem;
        padding: 1rem;
    }

    textarea::placeholder{
        color: #fff;
    }
    
    .a1111 {
        padding: 1rem 1.5rem;
        font-size: 16px;
        align-self: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;
    }
/* Tenth Section End  */

/* Eleventh Section  */

    .eleventh-section{
        padding: 4rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff7f4;
    }

    .inside-eleventh-section{
        width: 80%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .eleventh-section h1{
        color: #07332f;
        font-weight: 600;
        font-size: 52px;
        text-transform: capitalize;
        line-height: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    .gallery-card{
        height: 20rem;
        width: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: violet;
        margin: 1rem;
    }

/* Eleventh Section End  */


@media screen and (min-width: 1200px) {
    .img1 {
        translate: -2rem 5rem;
        width: 280px; 
    }

    .img2 {
        translate: 5rem -1rem;
        width: 280px; 
    }
}


@media screen and (min-width:1400px){
    .img1 {
        translate: 5rem 3rem;
    }
    .isc1 {
        padding: 1rem 2rem !important;
    }
    .img11 {
        translate: -3rem 3rem !important;
    }
    .img22 {
        translate: -4rem -3rem;
    }
}

@media screen and (max-width:1300px){
    .img {
        height: 18rem;
    }
    .img11 {
        translate: -2rem 3rem;
    }
    .insideFifthSection {
        width: 90%;
    }
    .abc1 {
        margin-right: 1rem;
    }
}

@media screen and (max-width:1100px){
    .eleventh-section{
        padding-top: 0;
    }
    .inside-eleventh-section {
    width: 90%;
    }
}

@media screen and (max-width:1024px){
    .insideFirstSectionCard h2 {
        font-size: 14px;
    }
    .insideFirstSectionCard h1 {
        font-size: 42px;
        line-height: 3.1rem;
    }
    .insideFirstSectionCard p {
        font-size: 16px;
        line-height: 1.4rem;
    }
    .inside-second-section {
        width: 90%;
    }
    .inside-second-card p {
        margin-bottom: 0rem;
    }
    .isc1 h2 {
        font-size: 26px !important;
    }
    .inside-second-card h2 {
        font-size: 18px;
    }

    .inside-third-card h2 {
        font-size: 14px;
    }
    .inside-third-card h1 {
        font-size: 42px;
        line-height: 3.1rem;
    }
    .inside-third-card p {
        font-size: 16px;
        line-height: 1.4rem;
    }
    .inside-fourth-section {
    width: 80%;
    max-width: 1200px;
    display: flex
;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
}

@media screen and (max-width:970px){
    .insideFirstSection {
        width: 95%;
    }
    .img1 {
    translate: -2rem 3rem;
}
.img2 {
    translate: 1rem -3rem;
}
.inside-third-section {
    width: 95%;
}
    .img11 {
        translate: -1rem 3rem;
    }
    .inside-fourth-head h1, .eleventh-section h1 {
    font-size: 42px;
    line-height: 3.1rem;
    }
        .inside-fourth-section {
        width: 90%;
        }


.c3{
    width: 100%;
}

.sixth-sub-card{
    width: 10rem;
}

            .inside-fourth-card {
        height: 16.5rem;
        width: 100%;
    }
        .app-card h2 {
    font-size: 42px;
    line-height: 3.1rem;
        }
        .app-card {
    margin-right: 0.5rem;
}
.inside-sixth-card h1 {
    font-size: 42px;
    line-height: 3.1rem;
}
.inside-sixth-section {
    width: 90%;
}
.inside-seventh-section {
    width: 90%;
}
.inside-seventh-card h1 {
    font-size: 42px;
    line-height: 3.1rem;
}
.i-e-s-1 h2 {
    font-size: 42px;
    line-height: 3.1rem;
}
.inside-ninth-section {
    width: 90%;
    flex: 1;
    flex-wrap: wrap;
}
.ninth-section h2 {
    font-size: 42px;
    line-height: 3.1rem;
}
.blog-card {
    height: 20rem;
    width: 45%;
    margin-bottom: 2rem;
}
.inside-tenth-section {
    width: 90%;
}
    .inside-fourth-section {
        justify-content: space-between;
    }
    .iscisc {
    padding: 1rem;
}
}

@media screen and (max-width:767px){
        
            .insideFirstSection {
        width: 95%;
        flex-direction: column;
    }
    .insideFirstSectionCard {
    width: 90%;
    }
        .img1 {
        translate: 0rem 3rem;
    }
    .ia1 {
    padding-left: 0;
    align-items: center;
}
img.white-dots {
    translate: 0 2rem;
}
        .img1 {
        translate: 6rem 3rem;
    }
    .img2 {
        translate: -6rem -3rem;
    }
        .inside-second-section {
        flex: 1;
        flex-wrap: wrap;
    }
    .inside-second-card {
    width: 49%;
    }
        .inside-third-section {
        flex-direction: column-reverse;
    }
    .inside-third-card {
    width: 90%;
    }

    .iaa1{
        align-items: flex-start;
    }
        .inside-fourth-card {
        width: 100%;
    }
    .insideFifthSection {
        flex-direction: column;
        align-items: flex-start;
    }
    .abc {
    width: 40%;
}
.inside-sixth-section {
        flex-direction: column;
        align-items: flex-start;
    }
    .inside-sixth-card {
    width: 100%;
    }
    .i-s-s {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}
    .inside-seventh-section {
        flex-direction: column;
    }
    .inside-seventh-card {
    width: 90%;
}
    .blog-card {
        height: 25rem;
        width: 90%;
    }
        .inside-tenth-section {
        flex-direction: column-reverse;
    }
    .i-t-c-2, .i-t-c-1 {
    width: 95%;
}
}

@media screen and (max-width:690px){
    .white-dots2 {
        height: 30rem;
    }
        .img2 {
        translate: -2rem -3rem;
    }
        .img1 {
        translate: 3rem 3rem;
    }
    .inside-fourth-card{
        margin: 1rem 0;
    }
}

@media screen and (max-width:600px){
    .white-dots2 {
        height: 22rem;
    }
        .img2 {
        translate: 1rem -3rem;
    }
        .img1 {
        translate: -1rem 3rem;
    }
        .insideFirstSectionCard h1, .inside-third-card h1, .inside-fourth-head h1, .app-card h2, .inside-sixth-card h1, .inside-seventh-card h1, .i-e-s-1 h2, .ninth-section h2 {
        font-size: 36px;
        line-height: 2.6rem;
    }
    .inside-second-card {
        width: 90%;
    }
    .inside-fourth-head h2, .inside-sixth-card h2, .inside-seventh-card h2, .i-e-s-1 h1, .ninth-section h1 {
        font-size: 14px;
    }
    .inside-fourth-head {
        height: 10rem;
    }
    .sixth-sub-card {
        width: 10rem;
    }
    .faq h3 {
        font-size: 18px;
    }
    .faq p {
        font-size: 16px;
        line-height: 1.4rem;
    }
    .ninth-section h1, .ninth-section h2 {
        margin-left: 3rem;
    }
    .blog-card-content h1 {
    font-size: 18px !important;
    margin-left: 0 !important;
}
.i-t-c-1 h3 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-top: 3rem;
}
.logo {
    height: 4rem;
    filter: drop-shadow(0px -2px 0px #fff);
    margin-left: 0.25rem;
}
}

@media screen and (max-width:500px){
    .gallery-card {
        height: auto;
    }
}

@media screen and (max-width:450px){
    .half-shape {
        width: 100%;
}
    .white-dots2 {
        height: 16rem;
    }
    .h3 {
        width: 90%;
    }
    .inside-fourth-card{
        padding: 1rem;
        width: 100%;
    }

        img.white-dots {
        width: 100%;
    }
    .img {
        height: 14rem;
    }
    .inside-seventh-card.iscisc {
    margin-top: 4rem;
}
.tenth-section h2 {
    font-size: 36px;
}
.tenth-section p {
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.inside-tenth-card {
    padding: 0rem;
}
.form-div input {
    margin: 0.5rem 0.25rem;
}
.form-div textarea {
    margin: 0 0.3rem;
}
    .i-t-c-1 h3 {
        font-size: 26px;
    }

    .img {
        height: 16rem;
    }

    .gallery-card {
    width: 16rem;
    }
    .ninth-section h1, .ninth-section h2
 {
        margin-left: 1rem;
    }
}

@media screen and (max-width:370px){
        .img {
        height: 14rem;
    }
}